<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <title>로그인</title>
</head>
<body>
    <div>
        <form th:action="@{/login}" method="post">
            <div class="main">
                <div class="img-box">
                    <img src="img/BBC.png" class="image">
                </div>
                <div class="login">
                    <h1 class="login-title">부천대학교 시설 대여 시스템</h1>

                        <div class="alert alert-danger">
                            <input type="text" name="userid" class="userid" placeholder="id">
                            <input type="text" name="password" class="password" placeholder="password">
                            <div th:if="${param.error}"> 사용자ID 또는 비밀번호를 확인해 주세요. </div>
                        </div>
                    <div class="btn-group">
                        <button type="submit" class="login-btn">로그인</button>
                        <button class="join"><a href="/join">회원가입</a></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>